* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: fit-content;
    height: 100%;
    display: flex;
    overflow-x:hidden;
    scroll-behavior: smooth;
    
}
body::-webkit-scrollbar{
    display: none;
}
.card{
    width: 100vw;
    max-width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: relative;
}
#login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: #fff; */
    color: #000;
    /* overflow: hidden; */
}
form h2{
    text-align: center;
    margin-bottom: 20px;
}
.login-container form{
    width: 100%;

}
form input{
    width: 100%;
    padding: 7px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
}
#login-container h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
form button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    transition: all 0.4s ease-in;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
form button:hover{
    background-color: white;
    color: black;
}
.toggle{
    font-size: 18px;
    margin: 10px 0;
}
.toggle a{
    cursor: pointer;
    text-decoration: underline;
}
.toggle a:hover{
    font-weight: 600;
}

#owner-user,#data-owner,#data-user,#upload-file{
    /* opacity: 0; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 20px;
    width: fit-content;
    text-align: center;
    user-select: none;
}
#upload-file{
    visibility: hidden;
}
#owner-user>label,#data-owner>label,#data-user>label,#upload-file>label{
    font-size: 20px;
    font-weight: 600;
}
#upload-file>input{
    margin-top: 20px;
    padding: 10px;

}

input[type="file"]::file-selector-button {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: 1s;
    margin-right: 50px;
}
  
input[type="file"]::file-selector-button:hover {
    background-color: #000;
    color: #fff;
}

#owner-user .choice{
    display: flex;
    justify-content: center;
    align-items: center;

}

[type="radio"]:checked,
[type="radio"]:not(:checked){
    visibility: hidden;
}
.choice-radio:checked + label, .choice-radio:not(:checked) + label{
    height: fit-content;
    width: 300px;
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
}
.choice-radio:checked + label{
    background-color: #000;
    color: #fff;
}
.choice-radio + label:hover{
    background-color: #000000c7;
    color: #fff;
}

#data-owner .choice,#data-user .choice{
    display: flex;
    align-items: center;
    justify-content: center;
}